<html>
    <body>
                    <!-- Main Box for Checkout -->
                    <div>
                        <style>
                            h3 {text-align: left;}
                            h2 {text-align: left;}
                            button {text-align: center}
                        </style>
                        <h3>Please Enter</h3>
        
                        <nobr>
                        <h3>Name:</h3>
                        <input type="text" id="NameInput">
        
                        
                        <h3>Card Information:</h3>
                        <input type="text" id="CardInput">
        
                        <h3>ASU ID:</h3>
                        <input type="text" id="CardInput"><br>
        
                        <button type="button">Submit</button>
                        
                    </div>
    </body>
</html>