<html>
    <head>
        <title>Group53Project</title>
    </head>
    <body>
        <style>
            h1 {text-align: center;}
            h2 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
        </style>

        <!-- First box with title and welcome -->
        <div class= "w3-panel w3-blue w3-card-4">
            <h1>SunDevil Pizza</h1>
            <h2>Order Pizza</h2>
        </div>
    </body>
</html>