<html>
    <head>
        <title>Group53Project</title>
    </head>
    <body>
        <style>
            h1 {text-align: center;}
            h2 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
        </style>

        <!-- First box with title and welcome -->
        <div class= "w3-panel w3-blue w3-card-4">
            <h1>SunDevil Pizza</h1>
            <h2>Welcome To SunDevil Pizza</h2>

            <!-- Second box for choices -->
            <!-- Main Box for Choose Pizza Type -->
            <div class="w3-panel w3-maroon w3-card-4">                
                <p>Choose Pizza Type</p>
                <style>
                    div {text-align: left;} 
                    p {text-align:left;}

                </style>

                <input type="radio" id="pepperoni" name="type">
                <label for="Pepperoni">Pepperoni</label>
                <br>

                <input type="radio" id="vegetable" name="type">
                <label for="Vegetable">Vegetable</label>
                <br>

                <input type="radio" id="cheese" name="type">
                <label for="cheese">Cheese</label>
                <br><br>

                <button type="button">Submit</button>
                <br><br><br>

            </div>

            <!-- Main Box for Choose Toppings -->
            <div class="w3-panel w3-maroon w3-card-4">
                <p>Choose Toppings</p>
                <input type="checkbox" id="mushroom">
                <label for="mushroom">Mushroom</label><br>

                <input type="checkbox" id="onions">
                <label for="onions">Onions</label><br>

                <input type="checkbox" id="olives">
                <label for="olives">Olives</label><br>

                <input type="checkbox" id="extracheese">
                <label for="extracheese">Extra Cheese</label><br><br>

                <button>
                    <a href = "Group53Projectcheckout.html">
                        Submit
                    </a>
                </button>
                <br><br><br>

            </div>




        </div>
    </body>
</html>